.select {
    &__title {
        padding-top: 100px;
        text-align: center;
        font-size: 22px;
        color: #6e768f;
        text-transform: uppercase;
    }
    &__line {
        width: 31%;
    }
    &__block {
        display: flex;
        margin: 60px 30px;
        .select__input {
            display: none;
        }
    }
}
.select__item {
    flex: 33.333%;
    text-align: center;
    padding: 30px 0;
    margin: 0 20px 0;
    background: #f7f7fa;
    border: 1px solid #dddfe5;
    border-radius: 6px;
    display: inline-block;
    transition: 0.2s;
    position: relative;
    .select__input {
        display: none;
    }
}
.select__input:checked  + .select__item:before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(/img/svg/check-mark.svg);
    top: -14px;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    right: -17px;
    background-color: #fff;
    border-radius: 50%;
}
.select__input:checked + .select__item{
    border: 5px solid #76a7e1;
}
.select__text {
    font-size: 18px;
    color: #9098b8;
    margin-top: 20px;
}